<div class="container">
  <h1>Edit an article:</h1>
  <div class="form">
    <%= render "form", article: @article %>
    <span class="btn"><%= link_to("Back to Articles", article_path) %></span>
  </div>
</div>
